</head>
<body>  
    <nav class="nav">
        <a href = "/"  class = "logo"> ONLINE DIARY </a> 
        <%if (isAuthenticated){%>
            <a href="/auth/logout"  class = "logout"> Logout </a>
        <% } %>
    </nav>