<%- include("./includes/head.ejs") %>
<%- include("./includes/navigation.ejs") %>
    <% if(!isAuthenticated) { %>
        <div class="card">
            <h1> ONLINE DIARY </h1>
            <h2> Sign in to write your diary</h2><br/><br/><br/>
            <div id="login-signup">
                <a href="/auth/login"> Login </a>
                <a href="/auth/signup"> Create an Account</a>
            </div>
       </div>
        
    <%} else{%>
        <div class="card">
            <div >
                <h1>Welcome <br/> <br/><p class="username"><%= username %></p></h1>
                
            </div>
            
            <main>
                <a href="/todays-note" class="btn" > Write Today's Diary</a>
                
                <a href="/old-diary" class="btn" > Find Old Notes</a>
            </main>
        </div>
    <%}%>
<%- include("./includes/footer.ejs") %>
