<%- include("./includes/head.ejs") %>
<%- include("./includes/navigation.ejs") %>
    <div class="note-form">
        <form action="/todays-note" method="post">
            <label class="note-label" for="note">Type Here: </label><br><br>
            <textarea name="note" id="note" cols="100" rows="10"></textarea>
            <br><br>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    
<%- include("./includes/footer.ejs") %>
