<%- include("./includes/head.ejs") %>
<%- include("./includes/navigation.ejs") %>
    <div class="old">
        <label for="date">Choose a Date</label><br>
        <input type="date" name="date" id="date" />
        <button id="btn" class="btn btn-primary">Find</button>
        <div id="note"></div>
    </div>
    <script>
        const num=5;
        const btn=document.getElementById("btn");
        const note = document.getElementById("note");
        btn.addEventListener('click', async () => {
            console.log(document.getElementById('date').value);
            const date = document.getElementById("date");
            while (note.firstChild) {
                note.removeChild(note.firstChild);
            }

            fetch(`/get-data?date=${date.value}`)
                .then(res => res.json())
                .then(data => {
                    if(data.length==0){
                        const para = document.createElement("p");
                        para.textContent="No Data Found";
                        note.appendChild(para);
                        return;
                    }
                    for(let i=0;i<data.length;i++){
                        const para = document.createElement("p");
                        para.textContent=data[i].note;
                        note.appendChild(para);
                    }
                });
        });
        
        
    </script>
<%- include("./includes/footer.ejs") %>
