<%- include("./includes/head.ejs") %>
<%- include("./includes/navigation.ejs") %>

    <label for="date"><h1>Choose a Date</h1></label><br>
    <input type="date" name="date" id="date" >
    <button id="btn" class="btn btn-primary">Find</button>
    <div id="note"></div>

    <script>
        const num=5;
        const btn=document.getElementById("btn");
        const note = document.getElementById("note");
        btn.addEventListener('click', async () => {
            console.log(document.getElementById('date').value);
            const date = document.getElementById("date");
            while (note.firstChild) {
                note.removeChild(note.firstChild);
            }

             await fetch(`/get-data?date=${date.value}`)
                    .then(res => res.json())
                    .then(data => {
                        // console.log(data[0].info);
                        for(let i=0;i<data.length;i++){
                            const para = document.createElement("p");
                            para.textContent=data[i].info;
                            note.appendChild(para);
                        }
                    });
        });
        
        
    </script>
<%- include("./includes/footer.ejs") %>
