.nav {
  width: 100vw;
  padding: 0 60px;
  background-color: rgb(32, 32, 78);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.logout {
  background-color: white;
  /* color: rgb(32, 32, 78); */
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

.logout:hover {
  background-color: rgb(32, 32, 78);
  color: rgb(255, 255, 255);
}
